* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    color: #ffffff;
    background: #ebf2f5;
}

/* This is necessary because input, button and textarea don't herit the same font set to body */
body, input, button, textarea {
    font: 600 18px Nunito, sans-serif;
}

